.card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.card .card-head {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.card .card-body {
  padding: 1rem;
}
.card .card-footer {
  padding: 1rem;
  border-top: 1px solid #ccc;
}
