/* //padding top */
.padding-t-1{
    padding-top: .5rem;
}

.padding-t-2{
    padding-top: 1rem;
}

.padding-t-3{
    padding-top: 1.5rem;
}

.padding-t-4{
    padding-top: 2rem;
}

.padding-t-5{
    padding-top: 2.5rem;
}

.padding-t-6{
    padding-top: 3rem;
}

.padding-t-7{
    padding-top: 3.5rem;
}
.padding-t-8{
    padding-top: 4rem;
}
.padding-t-9{
    padding-top: 4.5rem;
}
.padding-t-10{
    padding-top: 5rem;
}
.padding-t-11{
    padding-top: 5.5rem;
}
.padding-t-12{
    padding-top: 6rem;
}